.secondary-banner {
  padding: 64px 32px;
  background-color: $elsi-dark-blue;

  .text-container {
    max-width: 1280px;
    margin: 0 auto;

    h1 {
      color: white;
      font-size: 48px;
      margin-bottom: 16px;
    }

    p {
      color: $light-gray;
      font-size: 20px;
    }
  }
}
