.partner-card {
  background-color: $very-transparent-black;
  border: 0.1vw solid $transparent-black;
  border-radius: 14px;
  padding: 24px;

  h4 {
    color: white;
    line-height: 24px;
  }

  p {
    color: $light-gray;
    font-size: 14px;
    margin-top: 4px;
    line-height: 20px;
  }
}

/* stylelint-disable-next-line */
@media (min-width: 560px) {
  .partner-card {
    max-width: 560px;
  }
}
