.partner-card {
  background-color: oklab(99.9994% 0 0 / 10%);
  border-color: oklab(99.9994% 0 0 / 20%);
  border-style: solid;
  border-radius: 14px;
  border-width: 0.1vw;
  padding: 24px;

  h4 {
    color: white;
    line-height: 24px;
  }

  p {
    color: $light-gray;
    font-size: 14px;
    margin-top: 4px;
    line-height: 20px;
  }
}

@media (width >= 560px) {
  .partner-card {
    max-width: 560px;
  }
}
