<div class="publications-body">
    <section class="conference-presentations">
        {{ $presentations := .Params.presentations }}
        <div class="header-container inline-svg">
            {{ partial (printf "icons/%s.html" $presentations.icon) . }}
            <h2>
                {{ $presentations.descriptive }}
            </h2>
        </div>
    </section>
    <section class="publications-community-outreach">
        {{ $community := .Params.community }}
        <div class="header-container inline-svg">
            {{ partial (printf "icons/%s.html" $community.icon) . }}
            <h2>
                {{ $community.descriptive }}
            </h2>
        </div>
    </section>
</div>