.publications-banner {
    padding: 64px 32px;
    background-image: linear-gradient(to right bottom, oklch(0.546 0.245 262.881) 0%, oklch(0.457 0.24 277.023) 100%);
    
    h1 {
        color: white;
        font-size: 48px;
        margin-bottom: 16px;
    }

    p {
        color: oklch(0.932 0.032 255.585);
        font-size: 20px;
    }
}