.publication-card {
  box-shadow: $card-box-shadow-dark;

  .header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    h3 {
      color: $very-dark-blue;
      font-size: 24px;
    }

    span {
      margin-left: 12px;
      font-size: 14px;
      border-radius: 24px;
      padding: 4px 12px;
      background-color: $light-gray;
      color: $ocean-blue;
      line-height: 20px;
    }
  }

  > p {
    line-height: 24px;
    margin-bottom: 8px;
  }

  .infos {
    margin-bottom: 12px;
    display: flex;
    column-gap: 16px;

    span {
      font-size: 14px;
      color: oklch(55.1% 0.027 264.364deg);
    }

    span:first-child {
      font-style: italic;
    }
  }

  .links {
    display: flex;
    gap: 16px;
  }

  .links > a {
    color: $calm-blue;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 24px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}
