.publications-body {
    padding: 64px 32px;
    max-width: 1280px;
    margin: 0 auto;

    .header-container {
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-bottom: 32px;

        svg {
            height: 32px;
            width: 32px;
        }
    }
}

.published-papers {
    .publication-card:not(:last-child) {
        margin-bottom: 24px;
    }
}