.need-help {
    padding: 32px;
    background-color: $elsi-dark-blue;
    border-radius: 14px;

    h3 {
        color: white;
        font-size: 24px;
        margin-bottom: 12px;
        line-height: 32px;
    }

    p {
        color: white;
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 24px;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
    }

    .primary-btn, .secondary-btn {
        border-radius: 10px;
        padding: 8px 24px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
    }

    .primary-btn {
        background-color: white;
        color: $calm-blue;

        &:hover {
            background-color: $almost-very-light-gray;
        }
    }

    .secondary-btn {
        border: 1.75px solid white;
        color: white;

        &:hover {
            background-color: $transparent-black;
        }
    }
}