body {
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

a,
a:visited {
  text-decoration: none;
}

h1 {
  color: black;
  font-weight: 700;
  font-size: 60px;
}

h2 {
  color: black;
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-size: 20px;
  color: $very-dark-blue;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

p {
  color: $platinum-gray-blue;
  line-height: 24px;
  font-size: 16px;
}

svg {
  color: $calm-blue;
}

.inline-svg {
  svg {
    display: inline;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}
