.header-nav {
  padding: 0 2rem;
  height: 64px;
  display: flex;
  justify-content: center;

  .site-title {
    font-weight: 700;
    font-size: 24px;
    color: $calm-blue;
  }

  .header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .header-links {
    display: flex;
    align-items: start;
    flex-direction: row;
    font-size: 16px;
  }

  .header-links > .link {
    padding: 12px;
    color: $gray-blue;
    margin-right: 32px;
    font-weight: 500;
  }

  .header-links .active {
    color: $calm-blue;
    border-bottom: 2px solid $calm-blue;
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $calm-blue;
    }
  }

  max-width: 1280px;
  margin: 0 auto;

  /* stylelint-disable-next-line */
  @media (min-width: 1280px) {
    .header-inner {
      padding: 0 32px;
    }
  }
}
