.archive-card {
    text-align: center;

    h3 {
        margin-bottom: 8px;
    }

    svg {
        width: 48px;
        height: 48px;

        margin-bottom: 16px;
    }

    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px, rgba(0, 0, 0, 0.05) 0px 2px 4px -2px;
}