.home-consortium {
  text-align: center;
  padding: 80px 32px;

  .text-container {
    h2 {
      margin-bottom: 24px;
    }

    p {
      max-width: 860px;
      margin: 0 auto 32px;
      font-weight: 500;
    }

    a {
      display: inline-block;
      background-color: $calm-blue;
      color: white;
      padding: 12px 32px;
      border-radius: 10px;
      transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: $calm-blue-dark;
      }
    }
  }

  .partners, .funding-acknowledgement {
    border-top: 0.1vw solid $gray-border;
    margin-top: 64px;
    padding-top: 48px;

    > p, span {
      font-size: 16px;
    }

    h4 {
      margin-bottom: 8px !important;
      font-size: 16px !important;
    }

    .partner-card, .funding-projects, .other-acknowledgements-container {
      background-color: $very-light-gray;
      border-color: $gray-border;

      h4 {
        color: $very-dark-blue;
      }

      p, span {
        color: $platinum-gray-blue;
      }
    }
  }

  .funding-acknowledgement > .funding-projects, .funding-acknowledgement > .other-acknowledgements.container {
    border-radius: 14px;
    box-shadow: none;
  }

  .funding-projects, .other-acknowledgements-container {
    padding: 24px !important;
  }

  .funding-projects > .funding-project:not(:last-child) {
    margin-bottom: 16px;
  }

  .other-acknowledgements-container {
    box-shadow: none !important;
  }
}
