.home-ethics {
    margin: 0 auto;
    padding: 80px 32px;
    max-width: 1280px;

    .ethics-container {
        display: flex;
        flex-direction: row;
        gap: 48px;
        align-items: center;

        > .text-container,
        > .image-container {
            flex: 1;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
    }

    .title-container {
        display: flex;
        align-items: center;
        font-size: 36px;
        margin-bottom: 32px;
        column-gap: 12px;

        svg {
            color: oklch(54.6% .245 262.881);
            height: 1em;
            width: 1em;
            flex-shrink: 0;
        }
    }

    .text-container > p {
        margin-bottom: 24px;
        font-size: 18px;
    }

    .bullet-container {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        margin-bottom: 24px;

        h4 {
            margin-bottom: 4px;
        }
    }
}