.home-hero {
    padding: 80px 32px;
	background-color: oklch(0.95 0.02 268.01);
    text-align: center;
}

.home-hero {
    .hero-container {
    max-width: 1280px;
    margin: 0 auto;

        > h1 {
            color: black;
            margin-bottom: 24px;
        }

        > p {
            max-width: 896px;
            margin: 0 auto;
            margin-bottom: 32px;
        }

        p:first-of-type {
            font-size: 20px;
        }
    }

    .hero-buttons {
        display: inline-flex;
        gap: 16px;
        
        .hero-button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 12px 32px;
            border-radius: 10px;
        }

        .hero-button-primary {
            width: 126px;
            background-color: oklch(0.546 0.245 262.881 / 1);
            color: white;

            &:hover {
                background-color: oklch(0.48 0.245 262.881 / 1);
            }
        }

        .hero-button-secondary {
            width: 153px;
            border: 2px solid oklch(0.546 0.245 262.881 / 1);
            color: oklch(0.546 0.245 262.881 / 1);

            &:hover {
                background-color: white;
            }
        }
    }

    .hero-buttons > a {
        height: 28px;
    }
}