.project-history {
    .content-container {
        padding: 80px 24px;
    }

    .subtitle-container {
        display: flex;
        font-size: 36px;
        margin-bottom: 32px;

        svg {
            color: oklch(54.6% .245 262.881);
            height: 1em;
            width: 1em;
            flex-shrink: 0;
        }
        h1 {
            font-size: 1em;
            font-weight: 700;
        }
    }

    .history {
        background-color: oklch(0.985 0.002 247.839);
        padding: 32px;
        color: oklch(0.373 0.034 259.733);

        p:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}