.home-tools {
  max-width: 1280px;
  padding: 0 24px 80px;
  margin: 0 auto;

  h3 {
    text-align: center;
    margin-bottom: 24px;
  }

  .info-box {
    text-align: center;

    h3 {
      color: white;
      margin-bottom: 12px;
    }

    p {
      color: white;
      margin-bottom: 16px;
    }

    padding: 32px;
    border-radius: 16px;
    background-image: linear-gradient(to right, $calm-blue 0%, $calm-blue-purple 100%);
  }

  .tools-grid {
    margin-bottom: 48px;

    /* stylelint-disable-next-line */
    @media (min-width: 768px) {
      justify-items: stretch;
    }
  }
}
