.who-is-this-for {
  background-color: $very-light-gray;
  padding: 80px 24px;
  text-align: center;

  h2 {
    margin-bottom: 16px;
  }

  p {
    line-height: 28px;
  }

  .who-for-text {
    margin-bottom: 48px;
  }
}
