.who-is-this-for {
    background-color: oklch(0.985 0.002 247.839);
    padding: 80px 24px;
    text-align: center;

    h2 {
        margin-bottom: 16px;
    }

    p {
        line-height: 28px;
    }

    .who-for-text {
        margin-bottom: 48px;
    }

    /* NOTE: pure css grid does not "factorise" your grid. You need JS for that. /
    / I haven't taken the time to set that up. This means that if you add        /
    / another who-for, you'll need to change this code a little.                */
    .who-for-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        gap: 24px;
        max-width: 1280px;
        margin: 0 auto;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}