{{ with site.GetPage "home/funding" }}
<div class="funding-acknowledgement">
  <div class="text-box">{{ .Content }}</div>
  <div class="funding-projects">
    <h3>{{ .Params.funding_title }}</h3>
    {{ range .Params.projects }}
    <div class="funding-project">
      <h4>{{ .project }}</h4>
      <div class="funding-bodies">
        {{ $bodies := .funding_bodies }} {{ range $i, $body := $bodies }}
        <span>{{ $body.name }}</span>
        {{ if lt $i (sub (len $bodies) 1) }}
        <span class="info-separator">•</span>
        {{ end }} {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  <div class="other-acknowledgements-container">
    <div class="other-acknowledgements">
      <h4>{{ .Params.other_acks_header}}</h4>
      <span>{{ .Params.other_acks_text}}</span>
    </div>
  </div>
</div>
{{ end }}
