{{ define "main" }}
{{ with site.GetPage "home/home-hero" }}
<section class="home-hero">
  <div class="hero-container">
    {{ .Content }}
    <div class="hero-buttons">
      <a class="big-button big-button-primary" class="inline-svg" href="{{ (site.GetPage `section` `tools`).RelPermalink }}">
        {{ .Params.tool_tag }}
        {{ partial "icons/right-arrow.html" . }}
      </a>
      <a class="big-button big-button-secondary" href="{{ (site.GetPage `section` `docs`).RelPermalink }}">
        {{ .Params.documentation_tag }}
      </a>
    </div>
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/project-history" }}
<section class="project-history">
  <div class="content-container">
    <div class="subtitle-container">
      {{ partial "icons/clock.html" . }}
      <h2>
        {{ .Params.subtitle }}
      </h2>
    </div>
    <div class="history">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/who-is-this-for"}}
<section class="who-is-this-for">
  <div class="who-for-text">
    {{ .Content }}
  </div>
  <div class="grid-mixin four-grid">
    {{ range .Params.audiences }}
      {{ partial "home/who-for-card.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/ecosystem"}}
<section class="home-ecosystem">
  {{ .Content }}
</section>
{{ end }}
{{ with site.GetPage "home/tools"}}
<section class="home-tools">
  <h3>
    {{ .Params.title }}
  </h3>
  <div class="tools-grid grid-mixin two-grid">
    {{ range .Params.tools }}
      {{ partial "home/tool-card.html" . }}
    {{ end }}
  </div>
  <div class="info-box">
    {{ .Content }}
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/ethics" }}
<section class="home-ethics">
  <div class="ethics-container">
    <div class="text-container">
      <div class="title-container">
        {{ partial "icons/shield.html" . }}
        <h2>{{ .Params.title }}</h2>
      </div>
      <p>{{ .Params.descriptive }}</p>
      <div class="bullets-container">
        {{ range .Params.bullets }}
          <div class="bullet-container">
            {{ partial "home/blue-dot.html" . }}
            <div class="text">
              <h4>{{ .title }}</h4>
              <p>{{ .descriptive }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    {{ with .Params.banner_image }}
      <div class="image-container">
        <img src="{{ . | relURL }}" alt="Ethics banner">
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/resources" }}
<section class="home-resources">
  <div class="text-container">
    {{ .Content }}
  </div>
  <div class="grid-mixin three-grid">
    {{ range .Params.archives }}
      {{ partial "home/archive-card.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}
<section class="home-consortium">
  {{ with site.GetPage "home/consortium" }}
  <div class="text-container">
    {{ .Content }}
    <a href="{{ .Params.link.url }}" class="learn-more">
      {{ .Params.link.descriptive }}
    </a>
  </div>
{{ end }}
{{ partial "shared/partners.html" . }}
</section>
{{ end }}