{{ define "main" }}
{{ with site.GetPage "home/home-hero" }}
<section class="home-hero">
  <div class="hero-container">
    {{ .Content }}
    <div class="hero-buttons">
      <a class="hero-button hero-button-primary" href="{{ (site.GetPage `section` `tools`).RelPermalink }}">
        {{ .Params.tool_tag }}
      </a>
      <a class="hero-button hero-button-secondary" href="{{ (site.GetPage `section` `docs`).RelPermalink }}">
        {{ .Params.documentation_tag }}
      </a>
</section>
{{ end }}
{{ with site.GetPage "home/project-history" }}
<section class="project-history">
  <div class="content-container">
    <div class="subtitle-container">
      {{ partial "icons/clock.html" . }}
      <h2>
        {{ .Params.subtitle }}
      </h2>
    </div>
    <div class="history">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/who-is-this-for"}}
<section class="who-is-this-for">
  <div class="who-for-text">
    {{ .Content }}
  </div>
  <div class="who-for-grid">
    {{ range .Params.audiences }}
      {{ partial "home/who-for-card.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ with site.GetPage "home/ecosystem"}}
<section class="home-ecosystem">
  {{ .Content }}
</section>
{{ end }}
{{ with site.GetPage "home/tools"}}
<section class="home-tools">
  <h3>
    {{ .Params.title }}
  </h3>
  <div class="tools-grid">
    {{ range .Params.tools }}
      {{ partial "home/tool-card.html" . }}
    {{ end }}
  </div>
  <div class="info-box">
    {{ .Content }}
  </div>
</section>
{{ end }}
{{ end }}